body
{
	margin: 0px;
	font-family: arial, sans-serif;
}

#main-container
{
	padding-bottom: 60px;
}

.msg
{
	display: block;
	height: 200px;
	margin: 10px 20px 25px 10px; 
	border: 1px solid #D9D9D9;
}

.title-area
{
	padding: 20px 15px 20px 15px;
}

.title
{
	font-size: 17px;
	font-weight: bold;
}

.post-link
{
	text-decoration: none;
}

.title-arrow
{

}

.under-area
{

	height: 105px;
	padding: 20px 15px 20px 15px; 
	border-top: 1px solid #D9D9D9;
}

.under-left
{
	float: left;
	height: 100%;
	margin-right: 20px;
}

.icon
{
	margin: 0 0 15px 0;
}

.favor
{
	-webkit-border-radius: 5px;
	margin-left: 3px;
	padding: 5px 12px 5px 12px; 
	color: white; 
	font-size: 12px;
	text-align: center;
	background-color: #1E90FF;
}

.under-right
{
	font-size: 15px;
	color: #8F8F8F;
	height: 100%;
	overflow: hidden;
}

.icon-img
{
	height: 50px;
	width: 50px;
}

.no-posts
{
	margin: 30px;
	color: #8F8F8F;
	font-size: 14px;
}

.button-area
{
	margin: 30px;
}

.post-button
{
	height: 45px;
	width: 110px;
	background-color: #1E90FF;
	color: #FFFFFF;
	font-size: 20px;
}

.footer-box
{
	text-align: center;
	position: fixed;
	bottom: 0;
	background-color: #1E90FF;
	height: 8%;
	width: 100%;
}

.post-icon
{
    font-size: 29px;
    color: white;
    float: left;
    display: block;
    width: 7%;
    margin-top: 3%;
    margin-left: 41%;
    text-shadow: 3px 3px #666;
}

.footer-text
{
	float: left;
	color: #FFFFFF;
	margin-top: 4%;
	margin-left: 2%;
	font-size: 20px;
    text-shadow: 3px 3px #666;
}

.post_input
{
    box-shadow: #666 3px 3px !important;
}

label
{
    text-shadow: .3px .3px #666;
}

