body{
	font-family: arial, sans-serif;
	width: 100%;
}

.single-head
{
	width: 100%;
	height: 50px;
	background-color: #1E90FF; 

	text-align: center;
}

.single-back-icon-area
{
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	position: absolute;
}

.single-back-icon
{

}

.single-title
{
	color: white;
	padding-top: 4%;
	font-size: 20px;
	
	font-weight: bold;
}

.single-post-content
{
	width: 100%;
	background-color: white;
}

.single-post-empty
{
	height: 200px;
}

.single-main-post
{
	border-bottom-style: solid;
	border-bottom-color: #CCC7C4;
	border-bottom-width: 1px;
	margin-bottom: 10px;
	width: 100%;
}

.single-main-head
{
	height: 30%;

	border-bottom-style: solid;
	border-bottom-color: #CCC7C4;
	border-bottom-width: 1px;
}

.single-main-avatar
{
	width: 20%;
	float: left;
	margin-top: 2%;
	text-align: center;
}

.single-main-avatar img
{
	width: 60%;
}

.single-main-name
{
	float: left;
	padding-top: 5%;

	font-size: 18px;
	font-weight: bold;
}

.single-main-like
{
	width: 22%;
	float: right;
	margin-top: 5%;
	border-left-style: solid;
	border-left-color: #CCC7C4;
	border-left-width: 1px;
	text-align: center;
	margin-right: 5%;
}

.single-main-like img
{
	width: 30%;
	cursor: pointer;
}

.single-main-favor
{
	float: right;
	font-size: 1%;
	margin-top: 10%;
	margin-right: 7%;
}

.single-main-body
{
	clear: both;
	height: 58%;
	margin: 17% 7% 7% 20%;
	word-wrap: break-word;

	font-size: 16px;
	font-weight: bold;
	color: #646464;
}

.single-main-foot
{
	height: 6%;
	font-size: 1%;
	color: #CCC7C4;
	margin-top: -1%;
}

.single-main-time
{
	float: right;
	margin-right: 5%;
}

.response li {
	list-style-type: none;
	margin: 5% 5% 5% 2%;
}

.response
{
	clear: both;
	padding: 0px;
}

.response-post
{
	border-bottom-style: solid;
	border-bottom-color: #CCC7C4;
	border-bottom-width: 1px;

	height: 66px;
}

.response-left
{
	float: left;
	width: 20%;
}

.response-avatar
{
	text-align: center;
}

.response-left img
{
	width: 50%;
}

.response-middle
{
	float: left;
	width: 57%;
}

.response-name
{
	clear: both;
	margin-left: -3%;
	font-weight: bold;
	font-size: 15px;
}

.response-content
{
	word-wrap: break-word;
	margin-top: 10px;
	color: #646464;
}

.response-right
{
	float: left;
	width: 23%;
}

.response-like
{
	clear: both;
	height: 50px;

}

.response-like img
{
	height: 18px;
	margin-left: 25%;
	cursor: pointer;
}

.response-favor
{
	float: right;
	padding-right: 10%;
	margin-top: 6%;
}

.response-foot
{
	clear: both;
	height: 10px;
}

.response-time
{
	float: right;
	text-align: center;
	font-size: 10px;
	color: #CCC7C4;
}

.single-foot
{
	width: 100%;
	height: 8%;
	background-color: #1E90FF; 
	text-align: center;
	
	position: fixed;
	bottom: 0;
	z-index: 9999;
}

.response-action
{
	float: left;
	width: 70%;
	height: 50%;

	margin-left: 12%;
	margin-top: 3%;
}

.single-foot img
{
	float: left;
	width: 7%;
	margin: 3%;
	margin-left: 4%;

	cursor: pointer;

}